.main {
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.85),
      rgba(0, 0, 0, 0.35),
      rgba(0, 0, 0, 0.85)
    ),
    url("../assests/Netflix-bg-a.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
